<% layout('layouts/boilerplate') %>
<title><%= subreddit.name %></title>
<div class="container">
    <%- include('../partials/sidebar') %>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <a href="/subreddits/<%= subreddit.name %>" class="btn btn-dark rounded-pill">&laquo; Back to <%= subreddit.name %></a>
            <div class="media position-relative less-dark-bg border border-secondary rounded my-3">
                <div class="media-body m-2">
                    <h5 class="off-white mt-0"><%= post.title %></h5>
                    <p class="off-white"><%= post.content %></p>
                </div>
            </div>
            <form action="/subreddits/<%= subreddit.name %>/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Post</button>
            </form>            
        </div>
        <div class="col"></div>
    </div>
</div>

